@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to left, #CEE1F2, #04D9D9);
}

p {
    text-align: justify;
}

main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #028383c2;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #2E34A6;
    text-align: center;
    text-shadow: 1px 1px 2px #2E34A6;

}

h2 {
    color: #D9BF1A;

}